html {
    background-color: salmon
}

h1 {
    text-align: center;
    font-family: 'Spectral SC', serif;
}

h3 {
    text-align: center;
    font-family: 'Spectral SC', serif;
}

h4 {
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Spectral SC', serif;
}

options {
    text-align: center;
    padding-bottom: 100px;
    font-family: 'Spectral SC', serif;
    padding-bottom: 200px;
}